<link rel="stylesheet" href="{{url_for('static', filename = 'layout.css')}}" />
<header>
    <div class="menu">
        <div class="menu-left">
            <img src="/static/assets/logos.jpg" alt="logo">
            <p> Votre réussite dans un clic!</p>
        </div>
        <nav>
            <ul class="liens">
                <li>
                    <a href="/">Accueil</a>
                </li>
                <li>
                    <a href="/enregistrer">Enregistrer</a>
                </li>
                <li>
                    <a href="/utilisateurs">Utilisateurs</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer class="footer">
    <p>&copy; Robert Thiare | Université de Sherbrooke | Février 2023</p>
</footer>
